doctype html
html
  head
    title= title
    script(src="http://code.jquery.com/jquery.min.js")
    link(href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet")
    block scripts
  body
    block content
