extends shared/layout

block scripts
  link(rel="stylesheet", href="/stylesheets/style.css")

block content
  h1.landing-page-title= title
  .landing-container
    .interactive-sentence
      p I want to.. 
      a(href="/paint") paint
      a(href="/write") write