/**
 * The following should be refactored into partial stylesheets
 * each specific to view components.
 **/

/* General (shared) styling */
html, body {
	height: 100%;
	background-color: #191919;
}

body {
	padding: 40px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.page-title {
	font-size: 32px;
	text-align: center;
	color: white;
}

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
 	justify-content: center;
 	height: 100%;
 	width: 100%;
}

/* Landing page styling */
.landing-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
 	justify-content: center;
}

.interactive-sentence {
	margin-top: 2em;
}

.interactive-sentence p {
	display: inline;
	color: white;
	font-size: 22px;
}

.interactive-sentence a {
	display: inline;
	font-size: 22px;
	text-decoration: line-through;
}

.interactive-sentence a:hover {
	display: inline;
	font-size: 22px;
	text-decoration: none;
	font-style: bold;
}

/* Paint (canvas) styling */
#canvas-frame {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
 	justify-content: center;
	background-color: #262626;
	border: 5px solid #262626;
	height: 100%;
	width: 70%;
}

.canvas-actions-top {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-around;
 	justify-content: space-around;
 	-webkit-align-items: center;
	align-items: center;
  width: 100%;
}

.canvas-action {
	align-self: center;
}


#paint-canvas {
	background-color: white;
	height: 95%;
	width: 100%;
	cursor: crosshair;
}

.sp-replacer.sp-light {
	border: 0;
	background-color: white;
	margin-bottom: 4px;
}

/* Text-editor styling */
.pad-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
   	flex-direction: column;
   	--webkit-align-items: center;
   	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

#writing-pad {
	border: 2px solid grey;
	padding: 3em 4em 3em 4em;
	height: 150%;
	width: 60%;
	font-size: 16px;
	resize: none;
}

#notifier {
	height: 5px;
	font-style: italic;
	margin-bottom: 2em;
	color: #D3D3D3;
}