extends ../shared/layout

block scripts
	script(src="javascripts/text_editor.js")
	link(rel="stylesheet", href="/stylesheets/style.css")
	
block content
	a(href="/") â† Go back
	.pad-container
		h1.page-title= title
		#notifier
			=timestamp
		textarea#writing-pad
			=content