extends ../shared/layout

block scripts
	script(src="javascripts/canvas.js")

block content
		a(href="/") ← Go back
		h1.page-title= title
		.container
			#canvas-frame
				.canvas-actions-top
					a#canvas-action Colour
					a#canvas-action Save
				canvas(id="paint-canvas")